body#dashboard-page {
    display: flex;
}

/******************************************** 
*                  Sidebar
********************************************/
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 38px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #FFFFFF;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #4185d9;
}

.sidebar:hover {
    width: 220px;
    transition: 0.5s;
}

/******************************************** 
*                   Menu
********************************************/
.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
    background: #136ad5;
    cursor: pointer;
}

.menu a {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

/******************************************** 
*                  Main
********************************************/