body#website-page {
    background: #101630;
    color: #FFF;
    font-family: "Roboto", sans-serif;
}

/******************************************** 
*                   Navbar
********************************************/
#website .navbar {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(10px);
    background: #101630d0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

#website .navbar .logo {
    margin: 0 20px;
}

#website .navbar .logo img {
    cursor: pointer;
}

#website .navbar .menu {
    margin: 0 20px;
    display: flex;
    text-decoration: none;
    list-style: none;
}

#website .navbar .menu li {
    margin: 2px 5px;
}

#website .navbar .menu li a {
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}

/******************************************** 
*                Home Section
********************************************/
#website #home-section {
    position: relative;
}

#website #home-section .background {
    width: 100%;
    font-size: 180px;
    font-family: "Noto Serif", serif;
    font-weight: 900;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: rotate(335deg);
    -webkit-transform: rotate(335deg);
    color: #19213b;

}

#website #home-section .foreground {
    margin: 0;
    padding: 50px;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#website #home-section .foreground .title p.small {
    margin: 0;
    color: #868a97;
    font-size: 20px;
    font-weight: 900;
}

#website #home-section .foreground .title p.large {
    margin: 0;
    font-size: 60px;
    font-family: "Noto Serif", serif;
    font-weight: 900;
    line-height: 70px;
}

#website #home-section .foreground .title p.large .first-letter {
    font-size: 70px;
}

#website #home-section .foreground .title p.large .fullstop {
    color: #4eb7dc;
    font-size: 70px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
}

/******************************************** 
*               About Section
********************************************/
#website #about-section .about-me {
    margin: 0;
    padding: 130px 80px 0 80px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#website #about-section .about-me .left {
    flex: 1;
}

#website #about-section .about-me .left img.my-photo {
    width: 225px;
    height: 300px;
}

#website #about-section .about-me .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#website #about-section .about-me .right .btn-row {
    visibility: hidden;
}

#website #about-section .about-work,
#website #about-section .about-education {
    margin-top: 80px;
}

#website #about-section .about-work p,
#website #about-section .about-education p {
    text-align: center;
    color: #4eb7dc;
    font-size: 18px;
    font-weight: 700;
}


/******************************************** 
*            Portfolio Section
********************************************/
#website #portfolio-section {
    margin: 0;
    padding: 50px 50px 50px 80px;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#website #portfolio-section h1 {
    margin: 80px 0 0 0;
}

#website #portfolio-section .projects {
    display: flex;
    flex-direction: column;
}

#website #portfolio-section .project:nth-child(odd) {
    flex-direction: row;
}

#website #portfolio-section .project:nth-child(even) {
    flex-direction: row-reverse;
}

#website #portfolio-section .project {
    display: flex;
    gap: 50px;
    margin: 80px 0;
}

#website #portfolio-section .project .text {
    flex: 1;
}

#website #portfolio-section .project .text .title {
    color: #4eb7dc;
    font-size: 18px;
    font-weight: 700;
}

#website #portfolio-section .project .image {
    flex: 1;
    display: flex;
}

#website #portfolio-section .project .image img.project-photo {
    height: 225px;
    width: 300px;
    margin-left: 60px;
}

/******************************************** 
*             Experience Section
********************************************/
#website #experience-section {
    margin: 0;
    padding: 50px 50px 50px 80px;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#website #experience-section .experiences {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 0 100px;
}

#website #experience-section .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    gap: 10px;
}

#website #experience-section .experience .image {
    flex: 3;
}

#website #experience-section .experience .image img {
    width: 100px;
}

#website #experience-section .experience .name {
    flex: 1;
    color: #868a97;
}

/******************************************** 
*              Contact Section
********************************************/
#website #contact-section {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background: linear-gradient(135deg, #4720bce2, #50a6dbe7);
}

#website #contact-section .header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#website #contact-section .body {
    display: flex;
    justify-content: space-around;
    gap: 80px
}

#website #contact-section .body .left {
    flex: 1;
    padding-left: 50px;
}

#website #contact-section .body .left .contact {
    display: flex;
    gap: 20px;
    padding: 5px 0;
    align-items: center;
}

#website #contact-section .body .left .contact .icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(135deg, #50a6db, #4720bc);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.287);
    display: flex;
    align-items: center;
    justify-content: center;
}

#website #contact-section .body .right {
    flex: 1;
    padding-right: 50px;
}

#website #contact-section .body .right form {
    width: 100%;
    padding: 30px 0;
    background: linear-gradient(135deg, #50a6db, #4720bc);
    border-radius: 20px;
}

#website #contact-section .body .right form .row {
    display: flex;
    gap: 10px;
    padding: 5px 20px;
}

#website #contact-section .body .right form .row>* {
    flex: 1;
}

#website #contact-section .body .right form input[type="text"] {
    background: #101630;
    color: #FFF;
    height: 25px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

#website #contact-section .body .right form input[type="text"].error {
    border: 1px solid #e30000;
}

#website #contact-section .body .right form input[type="text"].error::placeholder {
    color: #e30000;
}

#website #contact-section .body .right form textarea {
    background: #101630;
    color: #FFF;
    height: 100px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    resize: none;
}

#website #contact-section .body .right form textarea.error {
    border: 1px solid #e30000;
}

#website #contact-section .body .right form textarea.error::placeholder {
    color: #e30000;
}

#website #contact-section .body .right form button {
    background: #101630;
    color: #FFF;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

#website #contact-section hr {
    margin: 60px 50px 20px 50px;
    border: 0.5px solid #868a97;
}

#website #contact-section .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 20px 50px;
}

#website #contact-section .footer .logo {
    flex: 1;
}

#website #contact-section .footer .copy-right {
    flex: 1;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

#website #contact-section .footer .social-media {
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: right;
}

#website #contact-section .footer .social-media .icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(135deg, #50a6db, #4720bc);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.287);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
}

/******************************************** 
*               Components
********************************************/
#website .image-with-border {
    position: relative;
}

#website .image-with-border .image {
    border-radius: 8px;
    position: absolute;
    transform: translateX(-30px) translateY(-30px);
    z-index: 1;
}

#website .image-with-border .border {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid #4eb7dc;
    border-radius: 8px;
    z-index: 0;
}

#website .btn-normal {
    width: 60px;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background: linear-gradient(135deg, #50a6db, #4820bc);
    cursor: pointer;
    font-weight: 700;
}